* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #f4f1e9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

nav {
    background-color: #6c757d;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.searchBar {
    display: flex;
    margin-bottom: 30px;
}

.container input {
    width: 80%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-family: 'Georgia', serif;
}

.searchBar button {
    width: 100px;
    background-color: #343a40;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    padding: 15px;
    cursor: pointer;
}

.searchBar button:hover {
    background-color: #495057;
}

.text {
    padding: 20px 0;
}

.text h2 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.text p {
    margin-bottom: 10px;
    font-size: 18px;
}

.text span {
    font-style: italic;
    color: #555;
}

.text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-top: 50px;
    border-radius: 5px;
}

.text a:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .searchBar {
        flex-direction: column;
    }

    .container input {
        width: 100%;
        margin-bottom: 10px;
    }

    .searchBar button {
        width: 100%;
        margin: 0;
    }
}
